{% extends 'base.html' %}
{% block title %}
  English - English
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4" id="headerDict">
        <h5>Language From:</h5>
        <p>English</p>
        <h5>Language To:</h5>
        <p>English</p>
      </div>

      <div class="col-sm">
        <h5>Add a new word</h5>
        <form>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="New word">
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="Definition">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="Usages">
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="Translation to English">
            </div>

          </div>



{#          <div class="form-row">#}
{#            <div class="form-group col-sm-6">#}
{#              <div class="row">#}
{#                <input type="text" class="form-control" placeholder="New word">#}
{#              </div>#}
{#              <div class="row">#}
{#                <input type="text" class="form-control" placeholder="Usages">#}
{#              </div>#}
{#            </div>#}
{#            <div class="form-group col-sm-6">#}
{#              <input type="text" class="form-control" placeholder="Definition">#}
{#              <input type="text" class="form-control" placeholder="Translation to English">#}
{##}
{#            </div>#}
{#          </div>#}
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-light table-hover table-responsive">
          <caption>Word list</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Word</th>
              <th scope="col">Definition</th>
              <th scope="col">Examples of usage</th>
              <th scope="col">Translation to English</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">1</th>
              <td>Contemplate</td>
              <td>To spend time considering a possible future action, or to consider one particular thing for a long time in a serious way (maybe add automatic results from some online-dictionary for a choice (when adding a new word))</td>
              <td>
                <ul>
                  <li>Does an angel <i>contemplate</i> my fate</li>
                  <li>Sharon is <i>contemplating</i> going to graduate school</li>
                </ul>
              </td>
              <td>(optional)</td>
            </tr>
            <tr>
              <th scope="col">2</th>
              <td>Phone</td>
              <td>A device to make calls and send sms messages</td>
              <td>
                <ul>
                  <li>Could you answer the <i>phone</i>?</li>
                </ul>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}