{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ dict }}
{% endblock %}

{% block content %}
  <div class="container" style="width: 65%;">
    <div class="row mt-3">
      <div class="col-sm-4" id="headerDict">
        <h5>Language from:</h5>
        <p>{{ dict.language_from }}</p>
        <h5>Language to:</h5>
        <p>{{ dict.language_to }}</p>
      </div>

      <div class="col-sm">
        <form action="/dictionaries/delete_dict/" method="post">
          {% csrf_token %}
          <input name="dict_id" value="{{ dict.id }}" hidden>
          <button type="submit" class="btn btn-danger">Delete the current dictionary</button>
        </form>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add a new word</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-light table-hover">
            <caption>Word list</caption>
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Word</th>
                <th scope="col">Definition</th>
                <th scope="col">Examples of usage</th>
                <th scope="col">Translation</th>
              </tr>
            </thead>
            <tbody>
              {% for word in words %}
                <tr>
                  <th scope="col">{{ forloop.counter }}</th>
                  <td><a href="#editModal" data-toggle="modal" data-target="#editModal" style="display: block;" onclick="editModalPopulate('{{ word }}', {{ word.id }}, '{{ word.definition }}', {{ word.get_usages }}, '{{ word.translation }}')">{{ word }}</a></td>
                  <td>{{ word.definition }}</td>
                  <td>
                    <ul>
                      {% for usg in word.get_usages %}
                        <li>{{ usg }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td>{{ word.translation }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit word</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="wordModal">Word</label>
            <input id="wordModal" class="form-control" type="text">
            <label for="defModal">Definition</label>
            <input id="defModal" class="form-control" type="text">
            <label for="usgModal">Usages <small>(enter each usage on a new line)</small></label>
            <textarea id="usgModal" class="form-control" rows="3"></textarea>
            <label for="translModal">Translation</label>
            <input id="translModal" class="form-control" type="text">
            <input id="idModal" type="text" hidden>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="editWordFunc()">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteWord()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="addModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add word</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
              <div class="form-group col-sm">
                <input id="word" type="text" class="form-control" placeholder="New word in {{ dict.language_from }}">
              </div>
              <div class="form-group col-sm">
                <input id="definition" type="text" class="form-control" placeholder="Definition">
              </div>
              <div class="form-group col-sm">
                <label for="usage">Usages <small>(enter each usage on a new line)</small></label>
                <textarea id="usage" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group col-sm">
                <input id="translation" type="text" class="form-control" placeholder="Translation to {{ dict.language_to }}">
              </div>
              <div class="form-group col-sm">
                <input id="dict_id" type="text" class="form-control" value="{{ dict.id }}" hidden>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          {% csrf_token %}
          <button type="button" class="btn btn-primary" onclick="addWordFunc()">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'main/scripts.js' %}"></script>
{% endblock %}