{% extends 'base.html' %}

{% block title %}
  Dictionaries
{% endblock %}


{% block content %}
  <div class="container" style="width: 65%;">
    <div class="row mt-3">
      <div class="col">
        <h4>My dictionaries</h4>
        <div class="list-group">
          {% for dict in dictionaries %}
            <a href="{{ dict.id }}" class="list-group-item list-group-item-action">{{ dict }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h4>Add a new dictionary</h4>
        <form>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="language1">First language</label>
              <input id="language1" type="text" class="form-control" placeholder="First language">
            </div>

            <div class="form-group col-sm-6">
              <label for="language2">Second language</label>
              <input id="language2" type="text" class="form-control" placeholder="Second language">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}